<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bakery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logos"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Noaction">
        <activity android:name=".MainActivity"
            android:theme="@style/Noaction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"/>
        <activity android:name=".ui.signup.NewAccountActivity"/>
        <activity android:name=".PasswordActivity"/>
        <activity android:name=".ui.forgotpassword.ForgetPasswordActivity"/>
        <activity android:name=".ui.otp.received.OtpReceiveActivity"/>
        <activity android:name=".ui.otp.verify.OtpVerifyActivity"/>
        <activity android:name=".NavicationActivity"/>
    </application>

</manifest>